
html {
	padding:1em;
	background-color: rgba(255, 227, 189, 0.43);
}

#nav div, #pages {
	margin: 0.2em 0.1em;
}

#editor input, #editor button {
	margin: 0.1em;
}

.button-success {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(28, 184, 65); /* this is a green */
	font-size: 110%;
}

.sizer {
	max-width: 15em;
	min-height: 1.5em;
	overflow: scroll;
}

.itemtitle {
	width: 20em;
}
/*.datatable, .editortable {*/
	/*width: 80%;*/
/*}*/
